# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: thinkpy
# author: "Tsangyao Chen"
copyright                   : "2025" 
logo: _static/logo.png
# description: "A book about Jupyter Book"
language: en

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  # execute_notebooks: force
  execute_notebooks: auto
  exclude_tags: [skip-execution]
  timeout: 100

# Define the name of the latex output file for PDF builds
# latex:
#   latex_documents:
#     targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - ./chapters/references.bib

sphinx:
  extra_extensions:
    - sphinx_new_tab_link
  config:
    bibtex_reference_style: author_year
    new_tab_link_show_external_link_icon: true      ### default
    new_tab_link_enable_referrer: false             ### adds rel="noreferrer" by default
  

scholar:
  style: apa
    
# Information about where the book exists on the web
# repository:
  # url: https://github.com/executablebooks/jupyter-book  # Online location of your book
  # path_to_book: docs  # Optional path to your book, relative to the repository root
  # branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  # use_issues_button: true
  # use_repository_button: true
  use_numbered_headings: true
  number_toc_depth: 3
  favicon: ./_static/favicon_io_gw/favicon.ico
exclude_patterns:
  - '.venv'
  - 'assignments'
  - 'materials'
  - 'otter_files'
  - 'temps'
  - 'tests'
  - 'chapters_blank'
  # - 'data'
  # - 'code'        ### no need for trailing slash
  # - 'README.md'
  # - '.ipynb_checkpoints'
  # - '.DS_Store'

# Table of contents

  