# Book settings
title: thinkpy
author: "Tsangyao Chen"
copyright: "2026"
logo: _static/thinkpy-logo-com.png
language: en


# Execution settings
# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto
  exclude_tags: [skip-execution]
  timeout: 100
  allow_errors: true
  stderr_output: show
  output_cache: true

# Sphinx settings
sphinx:
  extra_extensions:
    - sphinx_new_tab_link
    - sphinx.ext.autodoc
    - sphinx_thebe
  config:
    html_static_path: ['_static']
    html_css_files:
      - custom.css
    bibtex_reference_style: author_year
    bibtex_bibfiles: ./chapters/references.bib
    new_tab_link_show_external_link_icon: true  ### default
    new_tab_link_enable_referrer: false         ### adds rel="noreferrer" by default
    html_use_index: true        # default is true, but set it explicitly if unsure
    html_domain_indices: true   # keeps domain-specific indices on
    thebe_config:
      repository_url: https://github.com/tychen742/py
      kernel_name: python3
      selector: "div.cell.tag_thebe-interactive"
      selector_input: "div.cell_input"
      selector_output: "div.cell_output"
    
    
    
    html_theme_options:
      repository_url: https://github.com/tychen742/py
      repository_branch: main
      use_issues_button: true
      use_repository_button: true
      use_edit_page_button: true
      show_prev_next: true
      navigation_with_keys: true
      launch_buttons:
        thebe: true
        binderhub_url: "https://mybinder.org"

# Information about where the book exists on the web
repository:
  url: https://github.com/tychen742/py # Online location of your book
  branch: main # Which branch of the repository should be used when creating links (optional)

# HTML/theme settings
html:
  use_numbered_headings: true
  number_toc_depth: 3
  favicon: ./_static/favicon-io_green-gold/favicon.ico
  # use_thebe: true


# Bibliography
bibtex_bibfiles:
  - chapters/references.bib
bibtex_reference_style: label

# latex:
#   latex_engine: pdflatex

# parse:
#   myst_enable_extensions:
#     - dollarmath      # For LaTeX math
#     - colon_fence     # For ::: fenced divs
#     - deflist         # For definition lists
#     - linkify         # Auto-convert URLs to links
    
exclude_patterns:
  - ".venv"
  - "assignments"
  - "materials"
  - "otter_files"
  - "temps"
  - "tests"
  - "chapters_blank"
  - "data"
  - "*_worksheet.ipynb"
  # - 'code'        ### no need for trailing slash
  - "README.md"
  - '.ipynb_checkpoints'
  - '.DS_Store'
# Table of contents
